/* PHASE 4: Footer */

.footer {
  width: 880px;
  background: #fff;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  border: 1px solid #ccc;
}

.footer-copy {
  padding: 10px;
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  display: block;
  float: left;
  margin: 10px;
}

.footer a {

}

.footer a:hover {
  color: #000;
}
